.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 40%; 
  height: 10%; 
  background: var(--first-color);
  border-radius: 5px;
  padding: 1px;
  margin-left: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  background: var(--first-color-light);
  cursor: pointer;
}