body {
  margin: 0;
  padding: 0;
  background-color: #F7F6FB;
  padding-left: calc(var(--nav-width));
  overflow: hidden;
}


/* map position */
#map {
  /*margin-top: calc(var(--header-height));*/
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* remove mapbox logo */
.mapboxgl-ctrl-logo {
  display: none !important;
}

/* remove mapbox improve map text */
.mapbox-improve-map {
  display: none;
}

/* remove mapbox watermark text */
.mapboxgl-ctrl-bottom-right {
  display: none;
}

/* Mapbox Tools */
.mapboxgl-ctrl-geocoder {
  margin-top: 20px !important;
  margin-left: 20px !important;
  position: relative !important;
}
.mapboxgl-ctrl-group {
  margin-top: 20px !important;
  margin-right: 80px !important;
  z-index: 1 !important;
  position: relative !important;
}